#grid{
	display: grid;
	grid-auto-rows: repeat(5, 1fr);
	gap: 2px;
	grid-template-areas:
		"item1 item1 item1 item1"
	    "item2 item3 item4 item4"
	    "item2 item5 item5 item6"
	    "item2 item7 item8 item9"
	    "item2 item10 item10 item10";
}
#item1{
	grid-area: item1;
	background-color: greenyellow;
}
#item2{
	grid-area: item2;
	background-color: greenyellow;
}
#item3{
	grid-area: item3;
	background-color: greenyellow;
}
#item4{
	grid-area: item4;
	background-color: greenyellow;
}
#item5{
	grid-area: item5;
	background-color: greenyellow;
}
#item6{
	grid-area: item6;
	background-color: greenyellow;
}
#item7{
	grid-area: item7;
	background-color: greenyellow;
}
#item8{
	grid-area: item8;
	background-color: greenyellow;
}
#item9{
	grid-area: item9;
	background-color: greenyellow;
}
#item10{
	grid-area: item10;
	background-color: greenyellow;
}