#grid{
	display: grid;
	grid-template-rows: repeat(5, 124px);
	grid-template-columns: repeat(4,242.5px);
	grid-gap: 10px;
	grid-template-areas:
		"item1 item1 item1 item1"
	    "item2 item3 item4 item4"
	    "item2 item5 item5 item6"
	    "item2 item7 item8 item9"
	    "item2 item10 item10 item10";
}
#item1:nth-child(1){
	background-color: greenyellow;
	grid-column: span 4 / auto;
}
#item2:nth-child(2){
	background-color: greenyellow;
	grid-row: span 4 / auto;
}
#item3{
	grid-area: item3;
	background-color: greenyellow;
}
#item4:nth-child(4){
	background-color: greenyellow;
	grid-column: span 2 / auto;
}
#item5:nth-child(5){
	background-color: greenyellow;
	grid-column: span 2 / auto
}
#item6{
	grid-area: item6;
	background-color: greenyellow;
}
#item7{
	grid-area: item7;
	background-color: greenyellow;
}
#item8{
	grid-area: item8;
	background-color: greenyellow;
}
#item9{
	grid-area: item9;
	background-color: greenyellow;
}
#item10:nth-child(10){
	background-color: greenyellow;
	grid-column:span 3 / auto
}